.botao {
    font-family: var(--fonte-padrao);
    font-weight: 700;
    background-color: #78179e;
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all .2s;
}

.botao:hover {
    color: #95FFD4;
}